<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            
            <li><a href="https://twitter.com/_nehal_gupta">Twitter</a></li>
            
            <li><a href="https://www.linkedin.com/in/nehal-gupta-7170741a9/">Linkedin</a></li>
          
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 Blog Co.
                  
               | Design: <a rel="nofollow" href="https://www.linkedin.com/in/nehal-gupta-7170741a9/" target="_parent">Nehal Gupta</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>